In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import cPickle as pickle
from model import utilities as ut

# Reading in static schedule data
stops_full = pd.read_csv('data/google_transit/stops.txt', index_col='stop_id')
routes = pd.read_csv('data/google_transit/routes.txt', index_col='route_id')
trips = pd.read_csv('data/google_transit/trips.txt', index_col='trip_id')
blocks = pd.read_csv('../project/lookUpBlockIDToBlockNumNam.csv', index_col='BLOCKID')
stop_times = pd.read_csv('data/google_transit/stop_times.txt')
shapes = pd.read_csv('data/google_transit/shapes.txt')

# Some of these stops are named "Not a public stop" but are still in trips.
# Luckily, in the few trips they appear in, they're only either at the
# beginning or the end, so we can remove them now and we'll still build
# a nice graph with the connections we expect.
stops = stops_full[~stops_full.index.isin([7520, 7530, 7531, 7540])]
stop_times = stop_times[~stop_times['stop_id'].isin([7520, 7530, 7531, 7540])]

# Oh and some stops are in stops.txt but not used in trips... let's remove 'em
used_stops = set(stop_times['stop_id'].unique())
stops = stops[stops.index.isin(used_stops)]

# Let's make some sorted stop-timepoint lists for each stop_id to
# make lookup faster for things
all_stop_timepoints = {}
for stopid in used_stops:
    node_names = stop_times[stop_times['stop_id'] == stopid].\
                    apply(lambda x: '{0}_{1}'.\
                              format(stopid, x['arrival_time']),\
                          axis=1)
    all_stop_timepoints[stopid] = sorted(list(set(node_names)))

In [2]:
raw_test = pd.read_csv('../project/test3.csv')

/home/moses/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
raw_test.loc[1100:1120]

,REV,REPORT_TIME,VEHICLE_TAG,LONGITUDE,LATITUDE,SPEED,HEADING,TRAIN_ASSIGNMENT,PREDICTABLE
1100,1506,01/06/2016 12:06:37,7,-122.41139,37.79558,0.000,36.0,6002,0
1101,1506,01/06/2016 12:08:07,7,-122.41191,37.79496,0.000,78.0,6002,1
1102,1506,01/06/2016 12:12:37,7,-122.41215,37.79481,0.833,16.0,6002,1
1103,1506,01/06/2016 12:26:07,7,-122.41181,37.79490,0.000,195.0,6002,0
1104,1506,01/06/2016 12:35:07,7,-122.41198,37.79495,0.000,65.0,6002,0
1105,1506,01/06/2016 12:39:37,7,-122.41208,37.79485,0.000,20.0,6002,0
1106,1506,01/06/2016 12:56:07,7,-122.41206,37.79495,0.000,19.0,6002,0
1107,1506,01/06/2016 13:00:37,7,-122.41206,37.79471,0.000,348.0,6002,0
1108,1506,01/06/2016 13:44:07,7,-122.41208,37.79473,0.000,18.0,6002,0
1109,1506,01/06/2016 13:47:07,7,-122.41200,37.79485,0.000,344.0,6002,0
1110,1506,01/06/2016 13:50:07,7,-122.41196,37.79488,0.000,21.0,6002,0
1111,1506,01/06/2016 14:00:37,7,-122.41205,37.79495,0.000,15.0,6002,0
1112,1506,01/06/2016 14:08:07,7,-122.41212,37.79486,0.000,16.0,6002,0
1113,1506,01/06/2016 14:11:07,7,-122.41169,37.79585,0.000,354.0,6002,0
1114,1506,01/06/2016 14:14:07,7,-122.41214,37.79511,0.000,329.0,6002,0
1115,1506,01/06/2016 14:18:37,7,-122.41207,37.79501,0.000,219.0,6002,0
1116,1506,01/06/2016 14:23:07,7,-122.41181,37.79486,0.000,78.0,6002,0
1117,1506,01/06/2016 14:27:37,7,-122.41209,37.79501,0.000,21.0,6002,0
1118,1506,01/06/2016 14:30:37,7,-122.41214,37.79495,0.000,188.0,6002,0
1119,1506,01/06/2016 14:35:07,7,-122.41197,37.79483,0.278,275.0,6002,0
1120,1506,01/06/2016 14:39:37,7,-122.41215,37.79488,0.833,348.0,6002,0

In [4]:
raw_test.TRAIN_ASSIGNMENT.unique()

array([nan, '6003', '6004', ..., 905.0, 2905.0, 8888.0], dtype=object)

In [5]:
raw_test.TRAIN_ASSIGNMENT.min(), raw_test.TRAIN_ASSIGNMENT.max()

(101.0, 'NUNSCHED')

In [42]:
raw_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304830 entries, 0 to 304829
Data columns (total 9 columns):
REV                 304830 non-null int64
REPORT_TIME         304830 non-null object
VEHICLE_TAG         304830 non-null object
LONGITUDE           304830 non-null float64
LATITUDE            304830 non-null float64
SPEED               304830 non-null float64
HEADING             304830 non-null float64
TRAIN_ASSIGNMENT    239082 non-null object
PREDICTABLE         304830 non-null int64
dtypes: float64(4), int64(2), object(3)
memory usage: 20.9+ MB

In [6]:
blocks.head()

         SIGNID  BLOCKNUM BLOCKNAME
BLOCKID
332917       69       107       107
332918       69       108       108
332919       69       109       109
332920       69       110       110
332921       69       102       102

In [73]:
blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71670 entries, 332917 to 442963
Data columns (total 3 columns):
SIGNID       71670 non-null int64
BLOCKNUM     71670 non-null int64
BLOCKNAME    67983 non-null object
dtypes: int64(2), object(1)
memory usage: 2.2+ MB

In [7]:
blocks.index.max()

442993

In [8]:
blocks.SIGNID.min()

69

In [9]:
blocks.SIGNID.max()

88

In [10]:
blocks.BLOCKNUM.min(), blocks.BLOCKNUM.max()

(1, 9973)

In [22]:
blocks[blocks.BLOCKNUM == 6002].head()

         SIGNID  BLOCKNUM BLOCKNAME
BLOCKID
334964       69      6002      6002
334977       69      6002      6002
334989       69      6002      6002
342104       69      6002      6002
342109       69      6002      6002

In [53]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29087 entries, 6858659 to 6916562
Data columns (total 6 columns):
route_id         29087 non-null int64
service_id       29087 non-null int64
trip_headsign    29071 non-null object
direction_id     29087 non-null int64
block_id         29087 non-null int64
shape_id         29087 non-null int64
dtypes: int64(5), object(1)
memory usage: 1.6+ MB

In [52]:
trips[trips.block_id == 6002].head()

         route_id  service_id trip_headsign  direction_id  block_id  shape_id
trip_id
6900882      1060           3  Beach + Hyde             0      6002    135858
6900834      1060           3  Beach + Hyde             0      6002    135856
6900281      1060           2  Beach + Hyde             0      6002    135856
6900751      1060           3  Beach + Hyde             0      6002    135858
6899740      1060           1  Beach + Hyde             0      6002    135856

In [24]:
trips[(trips.block_id == 6002)].shape_id.unique()

array([135858, 135856, 135862, 135863])

In [14]:
shapes.head()

,shape_id,shape_pt_lon,shape_pt_lat,shape_pt_sequence,shape_dist_traveled
0,135594,-122.446805,37.787266,1,0
1,135594,-122.448481,37.787054,2,149
2,135594,-122.450131,37.786842,3,296
3,135594,-122.450238,37.786822,4,306
4,135594,-122.451771,37.786624,5,443

In [41]:
raw_test.TRAIN_ASSIGNMENT.unique()[:500]

array([nan, '6003', '6004', '6007', '5903', '5908', '6005', '5907', '6010',
       '6002', '5904', '6006', '5906', '9805', '9801', '9803', '9804',
       '9806', '9821', '9822', '9814', '9816', '9999', '9808', '9809',
       '9811', '9802', '9812', '9817', '9810', '9815', '9819', '9813',
       '9818', '5901', 'NUNSCHED', '9401', '9409', 'MUNSCHED', 'KTUNSCHED',
       '9405', '9419', '9506', '9713', '9508', '9603', 'LUNSCHED', '9304',
       '9504', '9704', '9706', '9606', '9611', '9621', '9604', '9502',
       '9410', '9717', '9421', '9303', '9413', '9501', '9609', '9703',
       '9718', '9503', '9511', '9705', '9724', '9509', '9414', '9310',
       '9708', '9507', '9605', '9412', '9712', '9721', '9607', '9522',
       '9608', '9716', '9711', '9702', '9305', '9407', '9404', '9601',
       '9723', '9306', '9308', 'JUNSCHED', '9710', '9521', '9422', '9416',
       '9402', '9415', '9725', '9602', '9510', '9610', '9709', '9406',
       '9420', '9321', '9424', '9423', '9453', '9707', '9451', '9403',
       '9719', '9408', '9302', '6001', '6008', '9417', '9714', '9505',
       '9715', '9612', '9301', '9411', '9701', '9722', '9452', '9309',
       '9307', '9418', '5909', '6009', '5905', '9807', '5902', '6106',
       '4105', '1433', '4113', '2292', '3303', '2491', '2412', '2408',
       '2405', '1494', '2415', '4103', '1431', '4913', '1492', '3309',
       '2403', '3306', '0814', '1403', '2492', '2203', '3304', '4911',
       '4915', '2207', '2406', '0940', '2206', '2402', '4114', '4104',
       '2251', '4111', '6105', '1443', '2410', '2409', '2215', '1418',
       '3307', '4101', '1408', '1406', '4916', '2214', '2208', '2212',
       '4708', '4110', '3101', '1432', '2407', '2293', '2414', '2201',
       '1493', '4107', '4951', '4106', '0901', '1411', '3305', '2411',
       '2211', '2291', '2209', '4109', '4909', '2252', '2701', '4115',
       '3302', '2213', '3308', '3301', '2205', '4952', '4953', '2404',
       '4108', '4912', '2210', '2216', '2413', '2401', '2217', '2202',
       '4102', '2253', '4112', '1491', '2204', '3015', '3009', '0302',
       '2151', '0304', '4157', '0116', '3103', '2102', '4301', '2154',
       '3022', '0508', '4153', '0525', '2103', '3811', '0502', '2109',
       '4161', '0503', '1469', '3012', '0513', '0152', '0103', '0107',
       '0521', '3013', '3016', '0118', '0591', '3020', '0108', '0153',
       '0112', '3010', '0520', '0579', '3106', '2111', '2101', '4160',
       '0523', '0551', '2153', '3151', '3024', '3021', '0306', '3104',
       '0526', '0353', '0114', '3102', '3023', '2108', '0110', '0554',
       '0119', '4508', '0303', '2107', '0552', '3109', '4504', '4151',
       '3008', '4501', '2152', '2105', '0518', '4550', '3007', '4155',
       '3011', '0515', '0522', '4159', '0113', '4506', '0123', '3110',
       '4154', '2106', '0117', '3017', '0111', '0154', '3005', '3004',
       '0517', '0572', '0301', '0553', '0352', '4507', '0115', '4503',
       '0516', '3002', '0815', 3002.0, 101.0, 506.0, 505.0, 4502.0, 4509.0,
       304.0, 106.0, 507.0, 517.0, 3110.0, 510.0, 3023.0, 2110.0, 119.0,
       3102.0, 3018.0, 4151.0, 3019.0, 107.0, 512.0, 592.0, 3006.0, 117.0,
       102.0, 524.0, 580.0, 103.0, 3107.0, 4505.0, 514.0, 551.0, 2112.0,
       3106.0, 151.0, 105.0, 509.0, 575.0, 6103.0, 5906.0, 6104.0, 305.0,
       3109.0, 3001.0, 511.0, 120.0, 111.0, 108.0, 124.0, 591.0, 3032.0,
       3003.0, 2201.0, 3105.0, 4501.0, 519.0, 3031.0, 3021.0, 9759.0,
       3024.0, 2105.0, 1408.0, 1406.0, 504.0, 3101.0, 3010.0, 122.0, 121.0,
       4152.0, 114.0, 3014.0, 109.0, 4158.0, 352.0, 3011.0, 501.0, 3020.0,
       4506.0, 104.0, 3108.0, 351.0, 4156.0, 6004.0, 6102.0, 6105.0,
       5909.0, 6005.0, 6107.0, 814.0, 812.0, 9756.0, 9308.0, 3301.0,
       3804.0, 817.0, 811.0, 806.0, 1450.0, 3812.0, 3841.0, 3814.0, 853.0,
       3802.0, 835.0, 3842.0, 3854.0, 3827.0, 1445.0, 834.0, 944.0, 837.0,
       1454.0, 1441.0, 803.0, 1462.0, 818.0, 1449.0, 3807.0, 5146.0, 816.0,
       839.0, 1471.0, 3012.0, 3902.0, 809.0, 3836.0, 3852.0, 3806.0,
       3834.0, 3810.0, 822.0, 831.0, 3837.0, 865.0, 3808.0, 1447.0, 3822.0,
       9801.0, 1442.0, 3833.0, 1443.0, 2104.0, 3813.0, 3811.0, 3821.0,
       3803.0, 3078.0, 861.0, 3826.0, 810.0, 3832.0, 813.0, 808.0, 836.0,
       931.0, 1411.0, 1452.0, 807.0, 4709.0, 3843.0, 3840.0, 1203.0, 820.0,
       4706.0, 3801.0, 3853.0, 3835.0, 3825.0, 3809.0], dtype=object)

In [34]:
raw_test.loc[1109]['TRAIN_ASSIGNMENT']

'6002'

In [64]:
test_block = raw_test[raw_test['TRAIN_ASSIGNMENT'] == '6002']

In [65]:
test_block.head()

,REV,REPORT_TIME,VEHICLE_TAG,LONGITUDE,LATITUDE,SPEED,HEADING,TRAIN_ASSIGNMENT,PREDICTABLE
1043,1506,01/06/2016 06:00:37,7,-122.42101,37.80691,0.000,221.0,6002,1
1044,1506,01/06/2016 06:03:49,7,-122.41953,37.80141,3.889,170.0,6002,1
1045,1506,01/06/2016 06:04:34,7,-122.41918,37.79971,3.889,171.0,6002,1
1046,1506,01/06/2016 06:09:06,7,-122.41374,37.79423,1.944,80.0,6002,1
1047,1506,01/06/2016 06:11:48,7,-122.40951,37.79388,3.333,171.0,6002,1

,route_id,service_id,trip_headsign,direction_id,block_id,shape_id
trip_id,,,,,,
6858659,11047,2,Geary + 33rd Avenue,0,115,135594
7048008,11047,1,Geary + 33rd Avenue,0,110,135595
7048006,11047,1,Geary + 33rd Avenue,0,116,135595
7048005,11047,1,Geary + 33rd Avenue,0,103,135595
7048004,11047,1,Geary + 33rd Avenue,0,113,135595

In [67]:
foo = raw_test['TRAIN_ASSIGNMENT'].apply(lambda x: int(x) if str(x)[0].isdigit() else 'boo')

In [70]:
foo.unique()[:200]

array(['boo', 6003, 6004, 6007, 5903, 5908, 6005, 5907, 6010, 6002, 5904,
       6006, 5906, 9805, 9801, 9803, 9804, 9806, 9821, 9822, 9814, 9816,
       9999, 9808, 9809, 9811, 9802, 9812, 9817, 9810, 9815, 9819, 9813,
       9818, 5901, 9401, 9409, 9405, 9419, 9506, 9713, 9508, 9603, 9304,
       9504, 9704, 9706, 9606, 9611, 9621, 9604, 9502, 9410, 9717, 9421,
       9303, 9413, 9501, 9609, 9703, 9718, 9503, 9511, 9705, 9724, 9509,
       9414, 9310, 9708, 9507, 9605, 9412, 9712, 9721, 9607, 9522, 9608,
       9716, 9711, 9702, 9305, 9407, 9404, 9601, 9723, 9306, 9308, 9710,
       9521, 9422, 9416, 9402, 9415, 9725, 9602, 9510, 9610, 9709, 9406,
       9420, 9321, 9424, 9423, 9453, 9707, 9451, 9403, 9719, 9408, 9302,
       6001, 6008, 9417, 9714, 9505, 9715, 9612, 9301, 9411, 9701, 9722,
       9452, 9309, 9307, 9418, 5909, 6009, 5905, 9807, 5902, 6106, 4105,
       1433, 4113, 2292, 3303, 2491, 2412, 2408, 2405, 1494, 2415, 4103,
       1431, 4913, 1492, 3309, 2403, 3306, 814, 1403, 2492, 2203, 3304,
       4911, 4915, 2207, 2406, 940, 2206, 2402, 4114, 4104, 2251, 4111,
       6105, 1443, 2410, 2409, 2215, 1418, 3307, 4101, 1408, 1406, 4916,
       2214, 2208, 2212, 4708, 4110, 3101, 1432, 2407, 2293, 2414, 2201,
       1493, 4107, 4951, 4106, 901, 1411, 3305, 2411, 2211, 2291, 2209,
       4109, 4909], dtype=object)