In [181]:
import pandas as pd
import numpy as np
import networkx as nx
import requests
from bs4 import BeautifulSoup
import cPickle as pickle
from model.utilities import haversine, diff_timestamps

In [180]:
reload(utilities)

In [33]:
stops = pd.read_csv('data/google_transit/stops.txt', index_col='stop_id')
routes = pd.read_csv('data/google_transit/routes.txt', index_col='route_id')
trips = pd.read_csv('data/google_transit/trips.txt', index_col='trip_id')
stop_times = pd.read_csv('data/google_transit/stop_times.txt')
shapes = pd.read_csv('data/google_transit/shapes.txt')

In [216]:
trips.head()

,route_id,service_id,trip_headsign,direction_id,block_id,shape_id
trip_id,,,,,,
6858659,11047,2,Geary + 33rd Avenue,0,115,135594
7048008,11047,1,Geary + 33rd Avenue,0,110,135595
7048006,11047,1,Geary + 33rd Avenue,0,116,135595
7048005,11047,1,Geary + 33rd Avenue,0,103,135595
7048004,11047,1,Geary + 33rd Avenue,0,113,135595

In [189]:
stops[stops['stop_name'] == 'Not a public stop']

                 stop_name stop_desc   stop_lat    stop_lon zone_id stop_url
stop_id
7520     Not a public stop            37.709523 -122.404631
7530     Not a public stop            37.755387 -122.386889
7531     Not a public stop            37.755387 -122.386832
7540     Not a public stop            37.755387 -122.386867

In [203]:
stop_times[stop_times['stop_id'] == 7520]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
126835,6869040,06:55:00,06:55:00,7520,43,,,,
126876,6869041,07:08:00,07:08:00,7520,43,,,,
126917,6869042,07:22:00,07:22:00,7520,43,,,,
126958,6869043,07:35:00,07:35:00,7520,43,,,,
126999,6869044,07:49:00,07:49:00,7520,43,,,,
127040,6869045,08:03:00,08:03:00,7520,43,,,,
127081,6869046,08:17:00,08:17:00,7520,43,,,,
127122,6869047,08:30:00,08:30:00,7520,43,,,,
127163,6869048,08:42:00,08:42:00,7520,43,,,,
127204,6869049,08:54:00,08:54:00,7520,43,,,,
127245,6869050,09:06:00,09:06:00,7520,43,,,,
127286,6869051,09:18:00,09:18:00,7520,43,,,,
127327,6869052,09:30:00,09:30:00,7520,43,,,,
127368,6869053,09:43:00,09:43:00,7520,43,,,,
127409,6869054,09:54:00,09:54:00,7520,43,,,,
127450,6869055,10:06:00,10:06:00,7520,43,,,,
127491,6869056,10:18:00,10:18:00,7520,43,,,,
127532,6869057,10:30:00,10:30:00,7520,43,,,,
127573,6869058,10:42:00,10:42:00,7520,43,,,,
127614,6869059,10:54:00,10:54:00,7520,43,,,,
127655,6869060,11:06:00,11:06:00,7520,43,,,,
127696,6869061,11:18:00,11:18:00,7520,43,,,,
127737,6869062,11:30:00,11:30:00,7520,43,,,,
127778,6869063,11:42:00,11:42:00,7520,43,,,,
127819,6869064,11:55:00,11:55:00,7520,43,,,,
127860,6869065,12:07:00,12:07:00,7520,43,,,,
127901,6869066,12:19:00,12:19:00,7520,43,,,,
127942,6869067,12:31:00,12:31:00,7520,43,,,,
127983,6869068,12:43:00,12:43:00,7520,43,,,,
128024,6869069,12:56:00,12:56:00,7520,43,,,,
...,...,...,...,...,...,...,...,...,...
134597,6869250,12:12:00,12:12:00,7520,16,,,,
134610,6869251,12:24:00,12:24:00,7520,16,,,,
134623,6869252,12:36:00,12:36:00,7520,16,,,,
134636,6869253,12:48:00,12:48:00,7520,16,,,,
134649,6869254,13:00:00,13:00:00,7520,16,,,,
134662,6869255,13:12:00,13:12:00,7520,16,,,,
134675,6869256,13:24:00,13:24:00,7520,16,,,,
134688,6869257,13:36:00,13:36:00,7520,16,,,,
134701,6869258,13:48:00,13:48:00,7520,16,,,,
134714,6869259,14:00:00,14:00:00,7520,16,,,,
134727,6869260,14:12:00,14:12:00,7520,16,,,,
134740,6869261,14:24:00,14:24:00,7520,16,,,,
134753,6869262,14:36:00,14:36:00,7520,16,,,,
134766,6869263,14:48:00,14:48:00,7520,16,,,,
134779,6869264,15:00:00,15:00:00,7520,16,,,,
134792,6869265,15:12:00,15:12:00,7520,16,,,,
134805,6869266,15:24:00,15:24:00,7520,16,,,,
134818,6869267,15:36:00,15:36:00,7520,16,,,,
134831,6869268,15:48:00,15:48:00,7520,16,,,,
134844,6869269,16:00:00,16:00:00,7520,16,,,,
134857,6869270,16:12:00,16:12:00,7520,16,,,,
134870,6869271,16:24:00,16:24:00,7520,16,,,,
134883,6869272,16:36:00,16:36:00,7520,16,,,,
134896,6869273,16:48:00,16:48:00,7520,16,,,,
134909,6869274,17:00:00,17:00:00,7520,16,,,,
134922,6869275,17:12:00,17:12:00,7520,16,,,,
134935,6869276,17:24:00,17:24:00,7520,16,,,,
134948,6869277,17:36:00,17:36:00,7520,16,,,,
134961,6869278,17:48:00,17:48:00,7520,16,,,,
134974,6869279,18:00:00,18:00:00,7520,16,,,,

In [206]:
stop_times[stop_times['trip_id'] == 6869064]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
127779,6869064,11:03:00,11:03:00,7227,2,,,,
127780,6869064,11:06:05,11:06:05,5657,4,,,,
127781,6869064,11:07:43,11:07:43,5639,5,,,,
127782,6869064,11:09:13,11:09:13,5678,6,,,,
127783,6869064,11:11:00,11:11:00,5694,7,,,,
127784,6869064,11:12:21,11:12:21,5655,8,,,,
127785,6869064,11:13:42,11:13:42,5695,9,,,,
127786,6869064,11:15:02,11:15:02,5656,10,,,,
127787,6869064,11:16:11,11:16:11,5676,11,,,,
127788,6869064,11:17:19,11:17:19,5680,12,,,,
127789,6869064,11:19:00,11:19:00,3245,13,,,,
127790,6869064,11:20:02,11:20:02,3243,14,,,,
127791,6869064,11:20:58,11:20:58,3241,15,,,,
127792,6869064,11:22:54,11:22:54,3239,16,,,,
127793,6869064,11:23:45,11:23:45,4436,17,,,,
127794,6869064,11:25:25,11:25:25,6043,18,,,,
127795,6869064,11:27:00,11:27:00,6027,19,,,,
127796,6869064,11:28:34,11:28:34,6031,20,,,,
127797,6869064,11:30:07,11:30:07,6033,21,,,,
127798,6869064,11:31:04,11:31:04,6034,22,,,,
127799,6869064,11:32:27,11:32:27,7809,23,,,,
127800,6869064,11:33:11,11:33:11,6037,24,,,,
127801,6869064,11:34:00,11:34:00,6039,25,,,,
127802,6869064,11:37:04,11:37:04,3768,26,,,,
127803,6869064,11:37:36,11:37:36,3785,27,,,,
127804,6869064,11:39:00,11:39:00,3779,28,,,,
127805,6869064,11:39:42,11:39:42,3771,29,,,,
127806,6869064,11:41:00,11:41:00,3773,30,,,,
127807,6869064,11:41:33,11:41:33,3789,31,,,,
127808,6869064,11:42:00,11:42:00,6365,32,,,,
127809,6869064,11:42:52,11:42:52,6359,33,,,,
127810,6869064,11:43:58,11:43:58,6357,34,,,,
127811,6869064,11:44:54,11:44:54,6372,35,,,,
127812,6869064,11:45:25,11:45:25,6358,36,,,,
127813,6869064,11:46:28,11:46:28,6361,37,,,,
127814,6869064,11:47:32,11:47:32,6369,38,,,,
127815,6869064,11:48:29,11:48:29,6371,39,,,,
127816,6869064,11:49:29,11:49:29,6348,40,,,,
127817,6869064,11:50:10,11:50:10,6366,41,,,,
127818,6869064,11:51:00,11:51:00,3772,42,,,,
127819,6869064,11:55:00,11:55:00,7520,43,,,,

In [212]:
stops = stops[~stops.index.isin([7520, 7530, 7531, 7540])]

In [214]:
stop_times = stop_times[~stop_times['stop_id'].isin([7520, 7530, 7531, 7540])]

In [215]:
stop_times[stop_times['stop_id'].isin([7520, 7530, 7531, 7540])]

Empty DataFrame
Columns: [trip_id, arrival_time, departure_time, stop_id, stop_sequence, stop_headsign, pickup_type, drop_off_type, shape_dist_traveled]
Index: []

In [69]:
G_x = nx.DiGraph()

In [220]:
trips.loc[6869064]['shape_id']

135651

In [70]:
# RIDING GRAPH
# For each trip, for each stop, add the stop as a node
# and connect it to the previous stop in the trip
for trip_id in trips.index:
    trip_stops = stop_times[stop_times['trip_id'] == trip_id]
    trip_info = trips.loc[trip_id]
    route_id = trip_info['route_id']
    service_id = trip_info['service_id']
    block_id = trip_info['block_id']   
    shape_id = trip_info['shape_id']
    for i, row in enumerate(trip_stops.iterrows()):
        stop_id = row[1]['stop_id']
        arrival_time = row[1]['arrival_time']
        stop_info = stops.loc[stop_id]
        stop_name = stop_info['stop_name']
        stop_lat = stop_info['stop_lat']
        stop_lon = stop_info['stop_lon']        
        stop_node = '{0}_{1}'.format(stop_id, arrival_time)
        if not G_x.has_node(stop_node):
            G_x.add_node(stop_node, stop_id=stop_id, stop_name=stop_name,\
                         stop_lat=stop_lat, stop_lon=stop_lon, arrival_time=arrival_time)
        if i == 0:
            last_stop = stop_node
            continue
        ride_time = diff_timestamps(G_x.node[last_stop]['arrival_time'],arrival_time)
        G_x.add_edge(last_stop, stop_node, trip_id=trip_id, route_id=route_id, service_id=service_id, \
                     block_id=block_id, shape_id=shape_id, type=ride, duration=ride_time)
        last_stop = stop_node

In [182]:
G_x.node['3003_05:51:12']['arrival_time']

'05:51:12'

In [184]:
diff_timestamps(G_x.node['3003_05:51:12']['arrival_time'],'08:53:52')

10960

In [117]:
int(G_x.node['3003_05:51:12']['arrival_time'][:2]) > 6

False

In [109]:
from datetime import datetime as dt
#s1 = '23:51:12'
#s2 = '01:15:49' # for example
#FMT = '%H:%M:%S'
#tdelt = datetime.strptime(s2, FMT) - datetime.strptime(s1, FMT)

In [106]:
tdelt.seconds

5077

In [131]:
node_time = '24:15:02'

In [132]:
node_time = '0' + str(int(node_time[:2])%24) + node_time[2:]

In [133]:
node_time

'00:15:02'

In [81]:
# WAITING GRAPH
# For each stop_id, connect each timepoint to the next
sorted_nodes = sorted(G_x.nodes())

In [86]:
len(sorted_nodes)

749201

In [91]:
sorted_nodes[:22]

['3003_05:25:12',
 '3003_05:51:12',
 '3003_06:11:46',
 '3003_06:32:46',
 '3003_06:54:46',
 '3003_06:56:12',
 '3003_07:11:18',
 '3003_07:16:12',
 '3003_07:26:18',
 '3003_07:36:12',
 '3003_07:43:18',
 '3003_07:56:12',
 '3003_07:59:18',
 '3003_08:06:18',
 '3003_08:14:18',
 '3003_08:16:46',
 '3003_08:21:18',
 '3003_08:29:18',
 '3003_08:36:18',
 '3003_08:36:46',
 '3003_08:44:18',
 '3003_08:53:52']

In [151]:
for i, node in enumerate(sorted_nodes):
    if i == 0:
        last_node = node
        continue
    node_id = G_x.node[node]['stop_id']
    node_time = G_x.node[node]['arr_time']
    last_node_id = G_x.node[last_node]['stop_id']
    last_node_time = G_x.node[last_node]['arrival_time']
    wait_time = diff_timestamps(last_node_time, node_time)
    if node_id == last_node_id:
        G_x.add_edge(last_node, node, duration=wait_time, type=wait)
    last_node = node

In [188]:
G_x['3003_05:25:12']

{'3003_05:51:12': {'duration': 1560, type: 'wait'},
 '3009_05:26:27': {'block_id': 1001,
  'route_id': 11057,
  'service_id': 1,
  'shape_id': 138190,
  'trip_id': 7041614,
  type: 'ride'}}

In [156]:
for u, v, d in G_x.edges_iter(data=True):
    if d.has_key('duration'):
        d[type] = 'wait'
    else:
        d[type] = 'ride'

In [157]:
G_x.edge['3003_05:25:12']

{'3003_05:51:12': {'duration': 1560, type: 'wait'},
 '3009_05:26:27': {'block_id': 1001,
  'route_id': 11057,
  'service_id': 1,
  'shape_id': 138190,
  'trip_id': 7041614,
  type: 'ride'}}

In [153]:
nx.write_gpickle(G_x, 'graph_x_3.gpkl')

In [75]:
nx.write_gpickle?

In [38]:
stops.loc[98]['stop_name']

'2ND ST & MARKET ST'

In [9]:
foo = stop_times[stop_times['trip_id'] == 7048004]

In [18]:
for buh in foo.iterrows():
    print stops[stops['stop_id'] == buh[1]['stop_id']]['stop_name'].iloc[0]

Clay St & Drumm St
Sacramento St & Davis St
Sacramento St & Battery St
Sacramento St & Sansome St
Sacramento St & Montgomery St
Sacramento St & Kearny St
Sacramento St & Grant Ave
Sacramento St & Stockton St
Sacramento St & Powell St
Sacramento St & Sproule Ln
Sacramento St & Jones St
Sacramento St & Leavenworth St
Sacramento St & Hyde St
Sacramento St & Larkin St
Sacramento St & Polk St
Sacramento St & Van Ness Ave
Sacramento St & Franklin St
Sacramento St & Gough St
Sacramento St & Octavia St
Sacramento St & Laguna St
Sacramento St & Buchanan St
Sacramento St & Webster St
Sacramento St & Fillmore St
Steiner St & California St
California St & Pierce St
California St & Divisadero St
California St & Baker St
California St & Presidio Ave
California St & Laurel St
California St & Spruce St
California St & Maple St
California St & Cherry St
California St & Arguello Blvd
California St & 4th Ave
California St & 6th Ave
California St & 8th St
California St & 10th Ave
California St & 12th Ave
California St & Park Presidio Blvd
California St & 16th Ave
California St & 19th Ave
California St & 22nd Ave
California St & 25th Ave
California St & 28th Ave
California St & 30th Ave
32nd Ave & California St
32nd Ave & Clement St
32nd Ave & Geary Blvd
Geary Blvd & 33rd Ave

In [58]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,6858631,26:00:00,26:00:00,4015,1,,,,
1,6858631,26:00:45,26:00:45,6294,2,,,,
2,6858631,26:01:33,26:01:33,6290,3,,,,
3,6858631,26:02:00,26:02:00,6314,4,,,,
4,6858631,26:02:35,26:02:35,6307,5,,,,

In [ ]:
G_x = nx.DiGraph()